__pycache__
report/project-usability-report.aux
report/project-usability-report.bbl
report/project-usability-report.fdb_latexmk
report/project-usability-report.fls
report/project-usability-report.log
report/project-usability-report.pdf
report/project-usability-report.synctex.gz
report/project-usability-report.toc
database/main.db
