:root {
    --color-bg-0: #fdfaf8;
    --color-prm-0: #1a1a1a;
    --color-sec-0: #addca8;
    --color-acc-0: #57c985;
    --color-txt-0: #140d07;
    transition-duration: 1s;
}

* {
    box-sizing: border-box;
}

html {
    font-family: "FreeMono", monospace;
    font-weight: 400;
    font-size: 18px;
    color: #000000;
    background-color: var(--color-prm-0);
}

#password {
    margin-bottom: 19px;
}

button.signuplogin {
    border-radius:5px;
    width: 177px; 
}

body {
    margin: 0;
}

nav {
    overflow: hidden;
    background-color: #3b3b3b;
    box-shadow: 0 0 40px;
    transition-duration: 1s;
}

ul.button {
    display: inline;
}

#chat_box {
padding: 10px;
}

ul a:hover {
background-color: #292929;
transition-duration: 0.3s;
}

#nav-username {
    float: right;
    padding: 0.625rem;
}

nav a {
    float: left;
    padding: 0.5rem;
    color: #140d07;
    font-size: 1.25rem;
    text-decoration: none;
    display: block;
}

nav button {
    float: left;
    padding: 0.5rem;
    color: #140d07;
    font-size: 1.25rem;
    text-decoration: none;
    display: block;
    font-family: monospace;
    background: 0;
    border: 0;
}

nav button:hover {
    background-color: #292929;
    transition-duration: 0.3s;
}

div.login-form {
    text-align: center;
}

.buttonStyling {
    background-color: #1a1a1a;
    padding: 2px;
    float: right;
    font-family: monospace;
    transition-duration: 0s;
}

div#popupMenu {
    border: 3px solid black;
    position: absolute;
    top: 5.9rem;
    display: none;
    right: 2.4rem;
    background-color: gray;
}

main {
    padding: 2px; /* Stops margin collapse */
    margin-top: 15rem;
    margin-inline: auto;
    /* max-width: min(80rem, calc(100% - 4rem)); */
    max-width: 20rem;
    background-color: #3a3a3a;
    border-radius: 15px;
    border: 5px solid #292929;
    transition-duration: 1s;
}



  button.switch {
    position: absolute;
    bottom: 0.5%;
    right: 0.5%;
    width: fit-content;
  }

main.messaging-app {
    max-width: fit-content;
    box-shadow: 0 0 5px;
    margin-top: 8rem;
}

main.friends {
    max-width: 100%;
    margin-top: 1rem;
}

section.text {
    margin: 2rem;
}

#receiver { 
    border-top: 0;
    border-right: 0;
    border-left: 0;
    background-color: #3a3a3a;
    font-family: monospace;
}

input#receiver:focus { 
    outline: 0;
}

footer {
    padding-bottom: 0.1rem;
    padding-left: 0.3rem;
    position: absolute;
    bottom: 0;
}


/* holdover from template */

#message_box {
    /* border: 1px solid black; */
    height: 400px;
    width: 800px;
    overflow: auto;
    padding: 2px;
}

.xtext {
    margin-top: 2px;
    margin-bottom: 2px;
}