<!-- 
All pages inherit from this page, this is the "base" page. 
Think of Java inheritance, but for web pages, eww... 

Contains script tags that tells the browser where to locate the JQuery scripts.
This code is pretty gross since everything is imported globally, if you're familiar with Python
this is equivalent to a bunch of glob imports -> import * from jquery. 

Yeah I know it's pretty ugly...
-->
<!DOCTYPE html>
<html>

<head>
    <title>INFO2222 Usability</title>
    <script src="/static/js/libs/axios.min.js"></script>
    <script src="/static/js/libs/jquery.min.js"></script>
    <script src="/static/js/libs/js.cookie.min.js"></script>
    <script>
        var username = null;
    </script>
    <link rel="stylesheet" href="/static/css/style.css">
</head>

<body>
    <nav>
        <div id="nav-logged-in">
            <ul class="button">
                <a href="/home">Home</a>
                <a href="/friends">Friends</a>
            </ul>
                
            <div id="nav-username">
               <span class="username-text"></span>
            </div>
        </div>
        <div id="nav-logged-out">
            <ul class="button">
                <a href="/login">Log In</a>
                <a href="/signup">Sign Up</a>
            </ul>
        </div>
    </nav>
    <!-- The content from any other page goes here -->
        {% block content %} {% endblock %}
    <footer>INFO2222 Project: Usability</footer>
    <script src="static/js/includes.js"></script>
</body>

</html>