<!-- Error page when you visited the wrong URL or did something very very wrong :O-->
{% extends 'base.jinja' %}
{% block content %}
<style>
    nav {
        border-bottom: 1px solid black;
        overflow: auto
    }
    .text {
        margin-top: 2px;
        margin-bottom: 2px;
    }
</style>
<nav style="border-bottom: 1px solid black;">
    <ol style="float: left">
        <li style="display:inline-block"><a href="{{ url_for('home') }}">Home</a></li>
        <li style="display:inline-block"><a href="{{ url_for('friends') }}">Friends</a></li>
    </ol>
    <ol style="float: right">
        <li style="display:inline-block">Username: {{ username }} </li>
    </ol>
</nav>
<h2>Friends:</h2>
<ul>
    {{ friends }}
</ul>
<h2>Friend Requests:</h2>
<h3>Incoming</h3>
<ul>
    {{ incoming }}
</ul>
<h3>Outgoing</h3>
<p>
    <input id="friend-input" /><button onclick="send_request()">Send Request</button>
</p>
<ul>
    {{ outgoing }}
</ul>
<script src="/static/js/libs/socket.io.min.js"></script>
<script>
    // All of this is adapted from login function on login page, see that for explanation
    function isValidURL(string) {
        if (string.length == 0) {
            return false;
        }
        if (string[0] == "/") {
            return true;
        }
        return false;
    }
    async function accept_request(id) {
        let acceptURL = "{{ url_for('friends_accept') }}";
        let res = await axios.post(acceptURL, {
            friendship_id: id
        });
        if (!isValidURL(res.data)) {
            alert(res.data);
            return;
        }
        window.open(res.data, "_self")
    }

    async function reject_request(id) {
        console.log("REJECTED REQUEST");
        let rejectURL = "{{ url_for('friends_reject') }}";
        let res = await axios.post(rejectURL, {
            friendship_id: id
        });
        if (!isValidURL(res.data)) {
            alert(res.data);
            return;
        }
        window.open(res.data, "_self")
    }

    async function send_request() {
        let requestURL = "{{ url_for('friends_request') }}";
        let res = await axios.post(requestURL, {
            friend_username: $("#friend-input").val()
        });
        if (!isValidURL(res.data)) {
            alert(res.data);
            return;
        }
        window.open(res.data, "_self")
    }
</script>
{% endblock %}