<!-- 
Index page, the "default" page when you visit "http://localhost/" 
 without any URL parameters at the end
 -->
{% extends 'base.jinja' %}


{% block content %}
<main>
    <section class="text">
        <h2>Hello! Welcome to the site!</h2>
        <p><a href="/signup">Sign Up</a></p>
        <p><a href="/login">Log In</a></p>
    </section>
</main>

{% endblock %}